---
import NextJS from "./icons/NextJS.astro"
import Tailwind from "./icons/Tailwind.astro"

const TAGS = {
  NEXT: {
    name: "Next.js",
    class: "bg-black text-white",
    icon: NextJS,
  },
  TAILWIND: {
    name: "Tailwind CSS",
    class: "bg-[#003159] text-white",
    icon: Tailwind,
  },
}
const PROJECTS = [
  {
    title: "Unsplash clone",
    description:
      "clone of the famous 'unsplash' image page, made with python and flask, obtaining the images from its api.",
    link: "",
    github: "",
    image: "/projects/616shots_so.jpg",
    tags: [],
  },
  {
    title: "URL Shorter",
    description: "URL shortener, whose function is to simplify long and traditional urls, with more attractive ones.",
    link: "",
    github: "",
    image: "/projects/470shots_so.jpg",
    tags: []
  },
  {
    title: "Login",
    description: "This is a simple login, whose only function is to obtain the data from said form, and validate it with the data inserted in the database.",
    link: "",
    github: "",
    image: "/projects/22shots_so.jpg",
    tags: []
  }
]
---

{
  PROJECTS.map(({ image, title, description, tags }) => (
    <article class="mt-10">
      <h3 class="text-2xl font-semibold text-yellow-800 dark:text-yellow-200 mb-2">
        {title}
      </h3>
      <p class="text-lg mb-4 text-pretty">{description}</p>
      <img
        loading="lazy"
        class="rounded"
        src={image}
        alt={`Captura de pantalla del proyecto ${image}`}
      />
    </article>
  ))
}
